
  .header {
    text-align: center;
    padding: 20px 0;
  }
  
  .title {
    font-size: 28px;
    font-weight: 700;
  }
  
  .divider {
    background-color: rgba(0, 0, 0, 1);
    height: 2px;
    width: 50px;
    margin: 10px auto;
  }
  
  .description {
    font-size: 16px;
    color: rgba(125, 121, 135, 1);
    padding: 0 70px; /* Added padding to left and right */
  }
  
  
  @media (max-width: 991px) {
    .divider {
      margin-top: 40px;
    }
    
    .description {
      max-width: 100%;
    }
  }